/* home */
.homeImage img {
  width: 100%;
  height: 500px;
}
#home {
  background: rgb(111, 248, 89);
  background: linear-gradient(
    90deg,
    rgba(111, 248, 89, 1) 16%,
    rgba(235, 167, 125, 1) 29%,
    rgba(143, 223, 159, 1) 41%,
    rgba(158, 162, 219, 1) 45%,
    rgba(186, 168, 199, 1) 66%,
    rgba(176, 214, 183, 1) 74%,
    rgba(196, 209, 198, 1) 94%
  );
}
/* home */
/* takePassword */
#takePassword {
  background: transparent;
}
.takePassword {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh;
}
.tekePassword-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 400px;
  height: 250px;
  background: white;
  position: relative;
  border-radius: 15px;
  gap: 30px;
  border: 2px solid grey;
}
.takePassword input {
  width: 250px;
  padding: 10px 7px;
  border: none;
}
.takePassword button:last-child {
  padding: 10px 50px;
  background: darkblue;
  color: white;
  border: none;
  border-radius: 10px;
  font-weight: 800;
  letter-spacing: 2px;
}
.x {
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  font-size: 25px;
  border: none;
  cursor: pointer;
}
/* takePassword */
/* admin */
.admin {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}
.admin-add {
  display: flex;
  gap: 30px;
}
.admin-block {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.admin-block input {
  padding: 10px 7px;
  outline: none;
  border-radius: 7px;
  border: 2px solid darkblue;
}
.admin-box {
  display: flex;
  gap: 10px;
}
.admin-block input:nth-child(3) {
  height: 100px;
  text-align: start;
}
.admin-block select {
  border: 2px solid darkblue;
  background: transparent;
  border-radius: 7px;
}

.admin-block button {
  padding: 10px 50px;
  border: 4px solid darkblue;
  border-radius: 7px;
  color: darkblue;
  background: transparent;
  font-weight: 800;
  font-size: 18px;
}
.admin-input-image {
  width: 300px;
  border-radius: 10px;
  background: rgb(237, 231, 231);
}
/* admin */

/* HOME CATEGORY */
#homeCategory {
  padding: 40px 0;
}
.homeCategory h1 {
  font-family: sans-serif;
  letter-spacing: 2px;
  font-size: 30px;
  font-weight: 1000;
}
.home-Category-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}
.home-Category-box a {
  color: white;
  font-size: 25px;
  font-weight: 700;
  text-decoration: none;
}
.home-Category-box div {
  width: 250px;
  padding: 140px 0 20px 10px;
  text-align: start;
  border-radius: 15px;
}
.Category-Detective {
  background: url("https://is2-ssl.mzstatic.com/image/thumb/Purple113/v4/d1/55/a2/d155a21b-eee2-4570-894a-26d6bfdf9b71/source/256x256bb.jpg"),
    center/cover;
}
.Category-Fantastic {
  background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTt7MIJKxb2N8ilvfoUMRouiboXEWg_zJyq3KvQwvyJBw&s"),
    center/cover;
}
.Category-Pric {
  background: url("https://www.visitdubai.com/-/media/gathercontent/poi/a/arabian-adventures/fallback-image/arabian-adventures-2.jpg?&cw=256&ch=256");
}
.Category-Nayk {
  background: url("https://masterpiecer-images.s3.yandex.net/3fe15123b70e11ee8dbca67ef26bc006:2");
}
.Category-Psiholog {
  background: url("https://avatars.dzeninfra.ru/get-zen_doc/1658056/pub_64c12c4f3fc50007bdd187a7_64c12c78bcad0b6088529ae2/scale_1200");
}
/* HOME CATEGORY */

/* HOME CARDS */
#homeCards {
  padding: 40px 0;
}
.homeCards-cards {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
  gap: 30px;
  padding: 20px 0;
}
.homeCards-cards-card img {
  width: 250px;
  height: 300px;
  border-radius: 10px;
}
.homeCards-cards-card-basket {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}
.homeCards-cards-card-basket button {
  border: none;
  background: none;
  cursor: pointer;
}
.homeCards-cards-card h2 {
  font-size: 20px;
  color: gray;
}
.homeCards-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.homeCards-title select {
  padding: 5px 10px;
  border: 1px solid gray;
  outline: 1px solid gray;
  border-radius: 10px;
  background: transparent;
  font-size: 20px;
}
/* HOME CARDS */
/* DETECTIVE_BLOCK */
#detectiveCategory {
  padding: 20px 0;
}
.detectiveCategory h1 {
  font-family: sans-serif;
  letter-spacing: 2px;
  font-size: 30px;
  font-weight: 1000;
}
.detective-Category-box {
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 20px 0;
}
.detective-Category-box a {
  color: white;
  font-size: 25px;
  font-weight: 700;
  text-decoration: none;
}
.detective-Category-box div {
  width: 300px;
  padding: 25px 10px;
  text-align: start;
  border-radius: 15px;
}
.detective-block .detective-h2 span {
  color: grey;
  font-size: 18px;
}
.detective-block-cards {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  padding: 20px 0;
  /* justify-content: center; */
}

.detective-block-card img {
  width: 250px;
  height: 300px;
  border-radius: 10px;
}
.detective-block-card-basket {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}
.detective-block-card-basket button {
  border: none;
  background: none;
  cursor: pointer;
}
.detective-block-card h2 {
  font-size: 20px;
  color: gray;
}
.detective-text-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.detective-block select {
  padding: 5px 10px;
  border: 1px solid gray;
  outline: 1px solid gray;
  border-radius: 10px;
  background: transparent;
  font-size: 20px;
}
/* DETECTIVE_BLOCK */
/*  */
