@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

footer {
  background: rgba(1, 0, 73, 1);
  color: white;
  padding: 40px;
}
.footer h1 {
  font-family: "Space Grotesk";
}
.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer-block1 h3 {
  padding: 20px 20px;
}
.footer-block2 h3 {
  padding: 0 0 50px 0;
}
.footer-block3 h3 {
  padding: 10px 10px;
}
.footer-block4 h3 {
  padding: 0 0 35px 0;
}
.footer-icons {
  display: flex;
  gap: 25px;
  width: 24px;
  height: 18px;
}
.footer-block4 p {
  width: 300px;
  height: 90px;
}
